js/*.js
js/*.js.map
!js/*.html
js/test/
node_modules/
package/
*.tgz
/.project
/log.txt
ts/log.txt
*.swp
red-out.txt
CHANGELOG.html
README.html
DEVELOPERS.html
ts/test/external/settings.json
.tscache
ts/.baseDir.ts
